*,
*::before,
*::after {
  box-sizing: border-box;
}

.dashboard {
  margin: auto;
}
.logo {
  background-color: rgb(104, 197, 104);
  color: white;
}
.sidebar {
  position: absolute;
  width: 100px;
  height: 1234px;
  left: 0px;
  top: 0px;
  display: grid;
}
